<link rel="stylesheet" href="https://use.typekit.net/xoa6chh.css">

<div class="proportional-wrapper">
  <div class="outer">
    <div class="inner">

      <div class="calendar">
        <table class="month" cellpadding="0" cellspacing="0">

          {{#each weeksData as |week|}}
            {{#p-calendar/week startingDate=week.startingDate showsByDay=week.showsByDay frontPadding=week.frontPadding backPadding=week.backPadding}}
            
              <div class="calendar-filters">
                {{#each longTitles as |title index|}}
                  <div class="filter selected show-{{add index 1}}">
                    {{title}}
                  </div>
                {{/each}}
              </div>

            {{/p-calendar/week}}
          {{/each}}

        </table>
      </div>

    </div>
  </div>
</div>
