<link rel="stylesheet" href="https://use.typekit.net/xoa6chh.css">

<div class="proportional-wrapper">
  <div class="outer">
    <div class="inner">

      <div class="calendar">
        <table class="month" cellpadding="0" cellspacing="0">
          <tr class="week">
            <td class="day padding" colspan="5">
              <div class="calendar-filters">
                <div class="filter selected show-1">
                  Disney&rsquo;s The Little Mermaid
                </div>
                <div class="filter selected show-2">
                  Footloose
                </div>
                <div class="filter selected show-3">
                  Chitty Chitty Bang Bang
                </div>
                <div class="filter selected show-4">
                  Urinetown
                </div>
                <div class="filter selected show-5">
                  42nd Street
                </div>
              </div>
            </td>
            {{p-calendar/day mDay=1 dayNameFull="Friday" monthName="June" shows=(array
              (hash title="Mermaid" time="8p" id=1)
            )}}
            <td class="day day-2" valign="top">
              <div class="day-identifiers">
                <span class="day-name">
                  <span class="full">Saturday</span>
                </span>
                <span class="month-name">June</span>
                <span class="mday">2</span>
              </div>
              <div class="day-content show-count-1">
                <div class="spacer">
                </div>
                <div class="showing evening show-1">
                  <span class="show-title">Mermaid</span>
                  <span class="show-time">8p</span>
                </div><!-- showing -->
              </div><!--day_content-->
            </td>
          </tr><!-- week -->

          {{p-calendar/week}}
          
          <tr class="week">
            <td class="day day-10" valign="top">
              <div class="day-identifiers">
                <span class="day-name">
                  <span class="full">Sunday</span>
                </span>
                <span class="month-name">June</span>
                <span class="mday">10</span>
              </div>
              <div class="day-content show-count-1">
                <div class="showing matinee show-2">
                  <span class="show-title">Footloose</span>
                  <span class="show-time">2p</span>
                </div><!-- showing -->
              </div><!--day_content-->
            </td>
            <td class="day day-11 dark" valign="top">
              <div class="day-identifiers">
                <span class="day-name">
                  <span class="full">Monday</span>
                </span>
                <span class="month-name">June</span>
                <span class="mday">11</span>
              </div>
              <div class="day-content show-count-0"> &nbsp; </div><!--day_content-->
            </td>
            <td class="day day-12" valign="top">
              <div class="day-identifiers">
                <span class="day-name">
                  <span class="full">Tuesday</span>
                </span>
                <span class="month-name">June</span>
                <span class="mday">12</span>
              </div>
              <div class="day-content show-count-1">
                <div class="spacer">
                </div>
                <div class="showing evening show-1">
                  <span class="show-title">Mermaid</span>
                  <span class="show-time">8p</span>
                </div><!-- showing -->
              </div><!--day_content-->
            </td>
            <td class="day day-13" valign="top">
              <div class="day-identifiers">
                <span class="day-name">
                  <span class="full">Wednesday</span>
                </span>
                <span class="month-name">June</span>
                <span class="mday">13</span>
              </div>
              <div class="day-content show-count-1">
                <div class="spacer">
                </div>
                <div class="showing evening show-2">
                  <span class="show-title">Footloose</span>
                  <span class="show-time">8p</span>
                </div><!-- showing -->
              </div><!--day_content-->
            </td>
            <td class="day day-14 dark" valign="top">
              <div class="day-identifiers">
                <span class="day-name">
                  <span class="full">Thursday</span>
                </span>
                <span class="month-name">June</span>
                <span class="mday">14</span>
              </div>
              <div class="day-content show-count-0"> &nbsp; </div><!--day_content-->
            </td>
            <td class="day day-15" valign="top">
              <div class="day-identifiers">
                <span class="day-name">
                  <span class="full">Friday</span>
                </span>
                <span class="month-name">June</span>
                <span class="mday">15</span>
              </div>
              <div class="day-content show-count-1">
                <div class="spacer">
                </div>
                <div class="showing evening show-3">
                  <span class="show-title">Chitty</span>
                  <span class="show-time">8p</span>
                </div><!-- showing -->
              </div><!--day_content-->
            </td>
            <td class="day day-16" valign="top">
              <div class="day-identifiers">
                <span class="day-name">
                  <span class="full">Saturday</span>
                </span>
                <span class="month-name">June</span>
                <span class="mday">16</span>
              </div>
              <div class="day-content show-count-1">
                <div class="spacer">
                </div>
                <div class="showing evening show-3">
                  <span class="show-title">Chitty</span>
                  <span class="show-time">8p</span>
                </div><!-- showing -->
              </div><!--day_content-->
            </td>
          </tr><!-- week -->
          <tr class="week">
            <td class="day day-17" valign="top">
              <div class="day-identifiers">
                <span class="day-name">
                  <span class="full">Sunday</span>
                </span>
                <span class="month-name">June</span>
                <span class="mday">17</span>
              </div>
              <div class="day-content show-count-1">
                <div class="showing matinee show-3">
                  <span class="show-title">Chitty</span>
                  <span class="show-time">2p</span>
                </div><!-- showing -->
              </div><!--day_content-->
            </td>
            <td class="day day-18 dark" valign="top">
              <div class="day-identifiers">
                <span class="day-name">
                  <span class="full">Monday</span>
                </span>
                <span class="month-name">June</span>
                <span class="mday">18</span>
              </div>
              <div class="day-content show-count-0"> &nbsp; </div><!--day_content-->
            </td>
            <td class="day day-19" valign="top">
              <div class="day-identifiers">
                <span class="day-name">
                  <span class="full">Tuesday</span>
                </span>
                <span class="month-name">June</span>
                <span class="mday">19</span>
              </div>
              <div class="day-content show-count-1">
                <div class="spacer">
                </div>
                <div class="showing evening show-2">
                  <span class="show-title">Footloose</span>
                  <span class="show-time">8p</span>
                </div><!-- showing -->
              </div><!--day_content-->
            </td>
            <td class="day day-20" valign="top">
              <div class="day-identifiers">
                <span class="day-name">
                  <span class="full">Wednesday</span>
                </span>
                <span class="month-name">June</span>
                <span class="mday">20</span>
              </div>
              <div class="day-content show-count-1">
                <div class="spacer">
                </div>
                <div class="showing evening show-1">
                  <span class="show-title">Mermaid</span>
                  <span class="show-time">8p</span>
                </div><!-- showing -->
              </div><!--day_content-->
            </td>
            <td class="day day-21" valign="top">
              <div class="day-identifiers">
                <span class="day-name">
                  <span class="full">Thursday</span>
                </span>
                <span class="month-name">June</span>
                <span class="mday">21</span>
              </div>
              <div class="day-content show-count-1">
                <div class="spacer">
                </div>
                <div class="showing evening show-3">
                  <span class="show-title">Chitty</span>
                  <span class="show-time">8p</span>
                </div><!-- showing -->
              </div><!--day_content-->
            </td>
            <td class="day day-22" valign="top">
              <div class="day-identifiers">
                <span class="day-name">
                  <span class="full">Friday</span>
                </span>
                <span class="month-name">June</span>
                <span class="mday">22</span>
              </div>
              <div class="day-content show-count-1">
                <div class="spacer">
                </div>
                <div class="showing evening show-1">
                  <span class="show-title">Mermaid</span>
                  <span class="show-time">8p</span>
                </div><!-- showing -->
              </div><!--day_content-->
            </td>
            <td class="day day-23" valign="top">
              <div class="day-identifiers">
                <span class="day-name">
                  <span class="full">Saturday</span>
                </span>
                <span class="month-name">June</span>
                <span class="mday">23</span>
              </div>
              <div class="day-content show-count-1">
                <div class="spacer">
                </div>
                <div class="showing evening show-2">
                  <span class="show-title">Footloose</span>
                  <span class="show-time">8p</span>
                </div><!-- showing -->
              </div><!--day_content-->
            </td>
          </tr><!-- week -->
          <tr class="week">
            <td class="day day-24" valign="top">
              <div class="day-identifiers">
                <span class="day-name">
                  <span class="full">Sunday</span>
                </span>
                <span class="month-name">June</span>
                <span class="mday">24</span>
              </div>
              <div class="day-content show-count-1">
                <div class="showing matinee show-1">
                  <span class="show-title">Mermaid</span>
                  <span class="show-time">2p</span>
                </div><!-- showing -->
              </div><!--day_content-->
            </td>
            <td class="day day-25 dark" valign="top">
              <div class="day-identifiers">
                <span class="day-name">
                  <span class="full">Monday</span>
                </span>
                <span class="month-name">June</span>
                <span class="mday">25</span>
              </div>
              <div class="day-content show-count-0"> &nbsp; </div><!--day_content-->
            </td>
            <td class="day day-26" valign="top">
              <div class="day-identifiers">
                <span class="day-name">
                  <span class="full">Tuesday</span>
                </span>
                <span class="month-name">June</span>
                <span class="mday">26</span>
              </div>
              <div class="day-content show-count-1">
                <div class="spacer">
                </div>
                <div class="showing evening show-3">
                  <span class="show-title">Chitty</span>
                  <span class="show-time">8p</span>
                </div><!-- showing -->
              </div><!--day_content-->
            </td>
            <td class="day day-27" valign="top">
              <div class="day-identifiers">
                <span class="day-name">
                  <span class="full">Wednesday</span>
                </span>
                <span class="month-name">June</span>
                <span class="mday">27</span>
              </div>
              <div class="day-content show-count-1">
                <div class="spacer">
                </div>
                <div class="showing evening show-2">
                  <span class="show-title">Footloose</span>
                  <span class="show-time">8p</span>
                </div><!-- showing -->
              </div><!--day_content-->
            </td>
            <td class="day day-28 dark" valign="top">
              <div class="day-identifiers">
                <span class="day-name">
                  <span class="full">Thursday</span>
                </span>
                <span class="month-name">June</span>
                <span class="mday">28</span>
              </div>
              <div class="day-content show-count-0"> &nbsp; </div><!--day_content-->
            </td>
            <td class="day day-29" valign="top">
              <div class="day-identifiers">
                <span class="day-name">
                  <span class="full">Friday</span>
                </span>
                <span class="month-name">June</span>
                <span class="mday">29</span>
              </div>
              <div class="day-content show-count-1">
                <div class="spacer">
                </div>
                <div class="showing evening show-4">
                  <span class="show-title">Urinetown</span>
                  <span class="show-time">8p</span>
                </div><!-- showing -->
              </div><!--day_content-->
            </td>
            <td class="day day-30" valign="top">
              <div class="day-identifiers">
                <span class="day-name">
                  <span class="full">Saturday</span>
                </span>
                <span class="month-name">June</span>
                <span class="mday">30</span>
              </div>
              <div class="day-content show-count-1">
                <div class="spacer">
                </div>
                <div class="showing evening show-4">
                  <span class="show-title">Urinetown</span>
                  <span class="show-time">8p</span>
                </div><!-- showing -->
              </div><!--day_content-->
            </td>
          </tr><!-- week -->
          <tr class="week">
            <td class="day day-1" valign="top">
              <div class="day-identifiers">
                <span class="day-name">
                  <span class="full">Sunday</span>
                </span>
                <div class="month-holder"><span class="month-name july">July</span></div>
                <span class="mday">1</span>
              </div>
              <div class="day-content show-count-1">
                <div class="showing matinee show-4">
                  <span class="show-title">Urinetown</span>
                  <span class="show-time">2p</span>
                </div><!-- showing -->
              </div><!--day_content-->
            </td>
            <td class="day day-2 dark" valign="top">
              <div class="day-identifiers">
                <span class="day-name">
                  <span class="full">Monday</span>
                </span>
                <span class="month-name">July</span>
                <span class="mday">2</span>
              </div>
              <div class="day-content show-count-0"> &nbsp; </div><!--day_content-->
            </td>
            <td class="day day-3" valign="top">
              <div class="day-identifiers">
                <span class="day-name">
                  <span class="full">Tuesday</span>
                </span>
                <span class="month-name">July</span>
                <span class="mday">3</span>
              </div>
              <div class="day-content show-count-1">
                <div class="spacer">
                </div>
                <div class="showing evening show-3">
                  <span class="show-title">Chitty</span>
                  <span class="show-time">8p</span>
                </div><!-- showing -->
              </div><!--day_content-->
            </td>
            <td class="day day-4" valign="top">
              <div class="day-identifiers">
                <span class="day-name">
                  <span class="full">Wednesday</span>
                </span>
                <span class="month-name">July</span>
                <span class="mday">4</span>
              </div>
              <div class="day-content show-count-1">
                <div class="showing matinee show-1">
                  <span class="show-title">Mermaid</span>
                  <span class="show-time">2p</span>
                </div><!-- showing -->
              </div><!--day_content-->
            </td>
            <td class="day day-5 dark" valign="top">
              <div class="day-identifiers">
                <span class="day-name">
                  <span class="full">Thursday</span>
                </span>
                <span class="month-name">July</span>
                <span class="mday">5</span>
              </div>
              <div class="day-content show-count-0"> &nbsp; </div><!--day_content-->
            </td>
            <td class="day day-6" valign="top">
              <div class="day-identifiers">
                <span class="day-name">
                  <span class="full">Friday</span>
                </span>
                <span class="month-name">July</span>
                <span class="mday">6</span>
              </div>
              <div class="day-content show-count-1">
                <div class="spacer">
                </div>
                <div class="showing evening show-5">
                  <span class="show-title">42nd St</span>
                  <span class="show-time">8p</span>
                </div><!-- showing -->
              </div><!--day_content-->
            </td>
            {{p-calendar/day mDay=7 dayNameFull="Saturday" monthName="July" shows=(array
              (hash title="Footloose" time="2p" id=2)
              (hash title="42nd St" time="8p" id=5)
            )}}
          </tr><!-- week -->
          <tr class="week">
            <td class="day day-8" valign="top">
              <div class="day-identifiers">
                <span class="day-name">
                  <span class="full">Sunday</span>
                </span>
                <span class="month-name">July</span>
                <span class="mday">8</span>
              </div>
              <div class="day-content show-count-1">
                <div class="showing matinee show-5">
                  <span class="show-title">42nd St</span>
                  <span class="show-time">2p</span>
                </div><!-- showing -->
              </div><!--day_content-->
            </td>
            <td class="day day-9 dark" valign="top">
              <div class="day-identifiers">
                <span class="day-name">
                  <span class="full">Monday</span>
                </span>
                <span class="month-name">July</span>
                <span class="mday">9</span>
              </div>
              <div class="day-content show-count-0"> &nbsp; </div><!--day_content-->
            </td>
            <td class="day day-10" valign="top">
              <div class="day-identifiers">
                <span class="day-name">
                  <span class="full">Tuesday</span>
                </span>
                <span class="month-name">July</span>
                <span class="mday">10</span>
              </div>
              <div class="day-content show-count-1">
                <div class="spacer">
                </div>
                <div class="showing evening show-5">
                  <span class="show-title">42nd St</span>
                  <span class="show-time">8p</span>
                </div><!-- showing -->
              </div><!--day_content-->
            </td>
            <td class="day day-11" valign="top">
              <div class="day-identifiers">
                <span class="day-name">
                  <span class="full">Wednesday</span>
                </span>
                <span class="month-name">July</span>
                <span class="mday">11</span>
              </div>
              <div class="day-content show-count-2">
                <div class="showing matinee show-3">
                  <span class="show-title">Chitty</span>
                  <span class="show-time">2p</span>
                </div><!-- showing -->
                <div class="showing evening show-4">
                  <span class="show-title">Urinetown</span>
                  <span class="show-time">8p</span>
                </div><!-- showing -->
              </div><!--day_content-->
            </td>
            <td class="day day-12" valign="top">
              <div class="day-identifiers">
                <span class="day-name">
                  <span class="full">Thursday</span>
                </span>
                <span class="month-name">July</span>
                <span class="mday">12</span>
              </div>
              <div class="day-content show-count-1">
                <div class="spacer">
                </div>
                <div class="showing evening show-2">
                  <span class="show-title">Footloose</span>
                  <span class="show-time">8p</span>
                </div><!-- showing -->
              </div><!--day_content-->
            </td>
            <td class="day day-13" valign="top">
              <div class="day-identifiers">
                <span class="day-name">
                  <span class="full">Friday</span>
                </span>
                <span class="month-name">July</span>
                <span class="mday">13</span>
              </div>
              <div class="day-content show-count-2">
                <div class="showing matinee show-3">
                  <span class="show-title">Chitty</span>
                  <span class="show-time">2p</span>
                </div><!-- showing -->
                <div class="showing evening show-4">
                  <span class="show-title">Urinetown</span>
                  <span class="show-time">8p</span>
                </div><!-- showing -->
              </div><!--day_content-->
            </td>
            <td class="day day-14" valign="top">
              <div class="day-identifiers">
                <span class="day-name">
                  <span class="full">Saturday</span>
                </span>
                <span class="month-name">July</span>
                <span class="mday">14</span>
              </div>
              <div class="day-content show-count-2">
                <div class="showing matinee show-5">
                  <span class="show-title">42nd St</span>
                  <span class="show-time">2p</span>
                </div><!-- showing -->
                <div class="showing evening show-1">
                  <span class="show-title">Mermaid</span>
                  <span class="show-time">8p</span>
                </div><!-- showing -->
              </div><!--day_content-->
            </td>
          </tr><!-- week -->
          <tr class="week">
            <td class="day day-15" valign="top">
              <div class="day-identifiers">
                <span class="day-name">
                  <span class="full">Sunday</span>
                </span>
                <span class="month-name">July</span>
                <span class="mday">15</span>
              </div>
              <div class="day-content show-count-1">
                <div class="showing matinee show-3">
                  <span class="show-title">Chitty</span>
                  <span class="show-time">2p</span>
                </div><!-- showing -->
              </div><!--day_content-->
            </td>
            <td class="day day-16 dark" valign="top">
              <div class="day-identifiers">
                <span class="day-name">
                  <span class="full">Monday</span>
                </span>
                <span class="month-name">July</span>
                <span class="mday">16</span>
              </div>
              <div class="day-content show-count-0"> &nbsp; </div><!--day_content-->
            </td>
            <td class="day day-17" valign="top">
              <div class="day-identifiers">
                <span class="day-name">
                  <span class="full">Tuesday</span>
                </span>
                <span class="month-name">July</span>
                <span class="mday">17</span>
              </div>
              <div class="day-content show-count-1">
                <div class="spacer">
                </div>
                <div class="showing evening show-2">
                  <span class="show-title">Footloose</span>
                  <span class="show-time">8p</span>
                </div><!-- showing -->
              </div><!--day_content-->
            </td>
            <td class="day day-18" valign="top">
              <div class="day-identifiers">
                <span class="day-name">
                  <span class="full">Wednesday</span>
                </span>
                <span class="month-name">July</span>
                <span class="mday">18</span>
              </div>
              <div class="day-content show-count-2">
                <div class="showing matinee show-5">
                  <span class="show-title">42nd St</span>
                  <span class="show-time">2p</span>
                </div><!-- showing -->
                <div class="showing evening show-1">
                  <span class="show-title">Mermaid</span>
                  <span class="show-time">8p</span>
                </div><!-- showing -->
              </div><!--day_content-->
            </td>
            <td class="day day-19" valign="top">
              <div class="day-identifiers">
                <span class="day-name">
                  <span class="full">Thursday</span>
                </span>
                <span class="month-name">July</span>
                <span class="mday">19</span>
              </div>
              <div class="day-content show-count-1">
                <div class="spacer">
                </div>
                <div class="showing evening show-4">
                  <span class="show-title">Urinetown</span>
                  <span class="show-time">8p</span>
                </div><!-- showing -->
              </div><!--day_content-->
            </td>
            <td class="day day-20" valign="top">
              <div class="day-identifiers">
                <span class="day-name">
                  <span class="full">Friday</span>
                </span>
                <span class="month-name">July</span>
                <span class="mday">20</span>
              </div>
              <div class="day-content show-count-1">
                <div class="spacer">
                </div>
                <div class="showing evening show-2">
                  <span class="show-title">Footloose</span>
                  <span class="show-time">8p</span>
                </div><!-- showing -->
              </div><!--day_content-->
            </td>
            {{p-calendar/day mDay=21 dayNameFull="Saturday" monthName="July" shows=(array
              (hash title="Mermaid" time="10a" id=1)
              (hash title="Chitty" time="2p" id=3)
              (hash title="42nd St" time="8p" id=5)
            )}}
          </tr><!-- week -->
          <tr class="week">
            <td class="day day-22" valign="top">
              <div class="day-identifiers">
                <span class="day-name">
                  <span class="full">Sunday</span>
                </span>
                <span class="month-name">July</span>
                <span class="mday">22</span>
              </div>
              <div class="day-content show-count-1">
                <div class="showing matinee show-1">
                  <span class="show-title">Mermaid</span>
                  <span class="show-time">2p</span>
                </div><!-- showing -->
              </div><!--day_content-->
            </td>
            <td class="day day-23 dark" valign="top">
              <div class="day-identifiers">
                <span class="day-name">
                  <span class="full">Monday</span>
                </span>
                <span class="month-name">July</span>
                <span class="mday">23</span>
              </div>
              <div class="day-content show-count-0"> &nbsp; </div><!--day_content-->
            </td>
            <td class="day day-24" valign="top">
              <div class="day-identifiers">
                <span class="day-name">
                  <span class="full">Tuesday</span>
                </span>
                <span class="month-name">July</span>
                <span class="mday">24</span>
              </div>
              <div class="day-content show-count-1">
                <div class="spacer">
                </div>
                <div class="showing evening show-3">
                  <span class="show-title">Chitty</span>
                  <span class="show-time">8p</span>
                </div><!-- showing -->
              </div><!--day_content-->
            </td>
            <td class="day day-25" valign="top">
              <div class="day-identifiers">
                <span class="day-name">
                  <span class="full">Wednesday</span>
                </span>
                <span class="month-name">July</span>
                <span class="mday">25</span>
              </div>
              <div class="day-content show-count-2">
                <div class="showing matinee show-1">
                  <span class="show-title">Mermaid</span>
                  <span class="show-time">2p</span>
                </div><!-- showing -->
                <div class="showing evening show-5">
                  <span class="show-title">42nd St</span>
                  <span class="show-time">8p</span>
                </div><!-- showing -->
              </div><!--day_content-->
            </td>
            <td class="day day-26" valign="top">
              <div class="day-identifiers">
                <span class="day-name">
                  <span class="full">Thursday</span>
                </span>
                <span class="month-name">July</span>
                <span class="mday">26</span>
              </div>
              <div class="day-content show-count-1">
                <div class="spacer">
                </div>
                <div class="showing evening show-2">
                  <span class="show-title">Footloose</span>
                  <span class="show-time">8p</span>
                </div><!-- showing -->
              </div><!--day_content-->
            </td>
            <td class="day day-27" valign="top">
              <div class="day-identifiers">
                <span class="day-name">
                  <span class="full">Friday</span>
                </span>
                <span class="month-name">July</span>
                <span class="mday">27</span>
              </div>
              <div class="day-content show-count-1">
                <div class="spacer">
                </div>
                <div class="showing evening show-4">
                  <span class="show-title">Urinetown</span>
                  <span class="show-time">8p</span>
                </div><!-- showing -->
              </div><!--day_content-->
            </td>
            <td class="day day-28" valign="top">
              <div class="day-identifiers">
                <span class="day-name">
                  <span class="full">Saturday</span>
                </span>
                <span class="month-name">July</span>
                <span class="mday">28</span>
              </div>
              <div class="day-content show-count-3">
                <div class="showing morning show-3">
                  <span class="show-title">Chitty</span>
                  <span class="show-time">10a</span>
                </div><!-- showing -->
                <div class="showing matinee show-1">
                  <span class="show-title">Mermaid</span>
                  <span class="show-time">2p</span>
                </div><!-- showing -->
                <div class="showing evening show-5">
                  <span class="show-title">42nd St</span>
                  <span class="show-time">8p</span>
                </div><!-- showing -->
              </div><!--day_content-->
            </td>
          </tr><!-- week -->
          <tr class="week">
            <td class="day day-29" valign="top">
              <div class="day-identifiers">
                <span class="day-name">
                  <span class="full">Sunday</span>
                </span>
                <span class="month-name">July</span>
                <span class="mday">29</span>
              </div>
              <div class="day-content show-count-1">
                <div class="showing matinee show-2">
                  <span class="show-title">Footloose</span>
                  <span class="show-time">2p</span>
                </div><!-- showing -->
              </div><!--day_content-->
            </td>
            <td class="day day-30 dark" valign="top">
              <div class="day-identifiers">
                <span class="day-name">
                  <span class="full">Monday</span>
                </span>
                <span class="month-name">July</span>
                <span class="mday">30</span>
              </div>
              <div class="day-content show-count-0"> &nbsp; </div><!--day_content-->
            </td>
            <td class="day day-31" valign="top">
              <div class="day-identifiers">
                <span class="day-name">
                  <span class="full">Tuesday</span>
                </span>
                <span class="month-name">July</span>
                <span class="mday">31</span>
              </div>
              <div class="day-content show-count-1">
                <div class="spacer">
                </div>
                <div class="showing evening show-1">
                  <span class="show-title">Mermaid</span>
                  <span class="show-time">8p</span>
                </div><!-- showing -->
              </div><!--day_content-->
            </td>
            <td class="day day-1" valign="top">
              <div class="day-identifiers">
                <span class="day-name">
                  <span class="full">Wednesday</span>
                </span>
                <div class="month-holder">
                  <span class="month-name august">Aug</span>
                </div>
                <span class="mday">1</span>
              </div>
              <div class="day-content show-count-2">
                <div class="showing matinee show-5">
                  <span class="show-title">42nd St</span>
                  <span class="show-time">2p</span>
                </div><!-- showing -->
                <div class="showing evening show-3">
                  <span class="show-title">Chitty</span>
                  <span class="show-time">8p</span>
                </div><!-- showing -->
              </div><!--day_content-->
            </td>
            <td class="day day-2" valign="top">
              <div class="day-identifiers">
                <span class="day-name">
                  <span class="full">Thursday</span>
                </span>
                <span class="month-name">August</span>
                <span class="mday">2</span>
              </div>
              <div class="day-content show-count-1">
                <div class="spacer">
                </div>
                <div class="showing evening show-2">
                  <span class="show-title">Footloose</span>
                  <span class="show-time">8p</span>
                </div><!-- showing -->
              </div><!--day_content-->
            </td>
            <td class="day day-3" valign="top">
              <div class="day-identifiers">
                <span class="day-name">
                  <span class="full">Friday</span>
                </span>
                <span class="month-name">August</span>
                <span class="mday">3</span>
              </div>
              <div class="day-content show-count-1">
                <div class="spacer">
                </div>
                <div class="showing evening show-4">
                  <span class="show-title">Urinetown</span>
                  <span class="show-time">8p</span>
                </div><!-- showing -->
              </div><!--day_content-->
            </td>
            <td class="day day-4" valign="top">
              <div class="day-identifiers">
                <span class="day-name">
                  <span class="full">Saturday</span>
                </span>
                <span class="month-name">August</span>
                <span class="mday">4</span>
              </div>
              <div class="day-content show-count-3">
                <div class="showing morning show-1">
                  <span class="show-title">Mermaid</span>
                  <span class="show-time">10a</span>
                </div><!-- showing -->
                <div class="showing matinee show-3">
                  <span class="show-title">Chitty</span>
                  <span class="show-time">2p</span>
                </div><!-- showing -->
                <div class="showing evening show-2">
                  <span class="show-title">Footloose</span>
                  <span class="show-time">8p</span>
                </div><!-- showing -->
              </div><!--day_content-->
            </td>
          </tr><!-- week -->
          <tr class="week">
            <td class="day day-5" valign="top">
              <div class="day-identifiers">
                <span class="day-name">
                  <span class="full">Sunday</span>
                </span>
                <span class="month-name">August</span>
                <span class="mday">5</span>
              </div>
              <div class="day-content show-count-1">
                <div class="showing matinee show-5">
                  <span class="show-title">42nd St</span>
                  <span class="show-time">2p</span>
                </div><!-- showing -->
              </div><!--day_content-->
            </td>
            <td class="day day-6 dark" valign="top">
              <div class="day-identifiers">
                <span class="day-name">
                  <span class="full">Monday</span>
                </span>
                <span class="month-name">August</span>
                <span class="mday">6</span>
              </div>
              <div class="day-content show-count-0"> &nbsp; </div><!--day_content-->
            </td>
            <td class="day day-7" valign="top">
              <div class="day-identifiers">
                <span class="day-name">
                  <span class="full">Tuesday</span>
                </span>
                <span class="month-name">August</span>
                <span class="mday">7</span>
              </div>
              <div class="day-content show-count-1">
                <div class="spacer">
                </div>
                <div class="showing evening show-3">
                  <span class="show-title">Chitty</span>
                  <span class="show-time">8p</span>
                </div><!-- showing -->
              </div><!--day_content-->
            </td>
            <td class="day day-8" valign="top">
              <div class="day-identifiers">
                <span class="day-name">
                  <span class="full">Wednesday</span>
                </span>
                <span class="month-name">August</span>
                <span class="mday">8</span>
              </div>
              <div class="day-content show-count-2">
                <div class="showing matinee show-1">
                  <span class="show-title">Mermaid</span>
                  <span class="show-time">2p</span>
                </div><!-- showing -->
                <div class="showing evening show-4">
                  <span class="show-title">Urinetown</span>
                  <span class="show-time">8p</span>
                </div><!-- showing -->
              </div><!--day_content-->
            </td>
            <td class="day day-9" valign="top">
              <div class="day-identifiers">
                <span class="day-name">
                  <span class="full">Thursday</span>
                </span>
                <span class="month-name">August</span>
                <span class="mday">9</span>
              </div>
              <div class="day-content show-count-1">
                <div class="spacer">
                </div>
                <div class="showing evening show-3">
                  <span class="show-title">Chitty</span>
                  <span class="show-time">8p</span>
                </div><!-- showing -->
              </div><!--day_content-->
            </td>
            <td class="day day-10" valign="top">
              <div class="day-identifiers">
                <span class="day-name">
                  <span class="full">Friday</span>
                </span>
                <span class="month-name">August</span>
                <span class="mday">10</span>
              </div>
              <div class="day-content show-count-1">
                <div class="spacer">
                </div>
                <div class="showing evening show-2">
                  <span class="show-title">Footloose</span>
                  <span class="show-time">8p</span>
                </div><!-- showing -->
              </div><!--day_content-->
            </td>
            <td class="day day-11" valign="top">
              <div class="day-identifiers">
                <span class="day-name">
                  <span class="full">Saturday</span>
                </span>
                <span class="month-name">August</span>
                <span class="mday">11</span>
              </div>
              <div class="day-content show-count-3">
                <div class="showing morning show-1">
                  <span class="show-title">Mermaid</span>
                  <span class="show-time">10a</span>
                </div><!-- showing -->
                <div class="showing matinee show-4">
                  <span class="show-title">Urinetown</span>
                  <span class="show-time">2p</span>
                </div><!-- showing -->
                <div class="showing evening show-3">
                  <span class="show-title">Chitty</span>
                  <span class="show-time">8p</span>
                </div><!-- showing -->
              </div><!--day_content-->
            </td>
          </tr><!-- week -->
          <tr class="week">
            <td class="day day-12" valign="top">
              <div class="day-identifiers">
                <span class="day-name">
                  <span class="full">Sunday</span>
                </span>
                <span class="month-name">August</span>
                <span class="mday">12</span>
              </div>
              <div class="day-content show-count-1">
                <div class="showing matinee show-1">
                  <span class="show-title">Mermaid</span>
                  <span class="show-time">2p</span>
                </div><!-- showing -->
              </div><!--day_content-->
            </td>
            <td class="day day-13 dark" valign="top">
              <div class="day-identifiers">
                <span class="day-name">
                  <span class="full">Monday</span>
                </span>
                <span class="month-name">August</span>
                <span class="mday">13</span>
              </div>
              <div class="day-content show-count-0"> &nbsp; </div><!--day_content-->
            </td>
            <td class="day day-14" valign="top">
              <div class="day-identifiers">
                <span class="day-name">
                  <span class="full">Tuesday</span>
                </span>
                <span class="month-name">August</span>
                <span class="mday">14</span>
              </div>
              <div class="day-content show-count-1">
                <div class="spacer">
                </div>
                <div class="showing evening show-4">
                  <span class="show-title">Urinetown</span>
                  <span class="show-time">8p</span>
                </div><!-- showing -->
              </div><!--day_content-->
            </td>
            <td class="day day-15" valign="top">
              <div class="day-identifiers">
                <span class="day-name">
                  <span class="full">Wednesday</span>
                </span>
                <span class="month-name">August</span>
                <span class="mday">15</span>
              </div>
              <div class="day-content show-count-2">
                <div class="showing matinee show-2">
                  <span class="show-title">Footloose</span>
                  <span class="show-time">2p</span>
                </div><!-- showing -->
                <div class="showing evening show-5">
                  <span class="show-title">42nd St</span>
                  <span class="show-time">8p</span>
                </div><!-- showing -->
              </div><!--day_content-->
            </td>
            <td class="day day-16" valign="top">
              <div class="day-identifiers">
                <span class="day-name">
                  <span class="full">Thursday</span>
                </span>
                <span class="month-name">August</span>
                <span class="mday">16</span>
              </div>
              <div class="day-content show-count-1">
                <div class="spacer">
                </div>
                <div class="showing evening show-1">
                  <span class="show-title">Mermaid</span>
                  <span class="show-time">8p</span>
                </div><!-- showing -->
              </div><!--day_content-->
            </td>
            <td class="day day-17" valign="top">
              <div class="day-identifiers">
                <span class="day-name">
                  <span class="full">Friday</span>
                </span>
                <span class="month-name">August</span>
                <span class="mday">17</span>
              </div>
              <div class="day-content show-count-1">
                <div class="spacer">
                </div>
                <div class="showing evening show-3">
                  <span class="show-title">Chitty</span>
                  <span class="show-time">8p</span>
                </div><!-- showing -->
              </div><!--day_content-->
            </td>
            <td class="day day-18" valign="top">
              <div class="day-identifiers">
                <span class="day-name">
                  <span class="full">Saturday</span>
                </span>
                <span class="month-name">August</span>
                <span class="mday">18</span>
              </div>
              <div class="day-content show-count-2">
                <div class="showing matinee show-1">
                  <span class="show-title">Mermaid</span>
                  <span class="show-time">2p</span>
                </div><!-- showing -->
                <div class="showing evening show-4">
                  <span class="show-title">Urinetown</span>
                  <span class="show-time">8p</span>
                </div><!-- showing -->
              </div><!--day_content-->
            </td>
          </tr><!-- week -->
          <tr class="week">
            <td class="day day-19" valign="top">
              <div class="day-identifiers">
                <span class="day-name">
                  <span class="full">Sunday</span>
                </span>
                <span class="month-name">August</span>
                <span class="mday">19</span>
              </div>
              <div class="day-content show-count-1">
                <div class="showing matinee show-3">
                  <span class="show-title">Chitty</span>
                  <span class="show-time">2p</span>
                </div><!-- showing -->
              </div><!--day_content-->
            </td>
          </tr>
        </table>
      </div>

    </div>
  </div>
</div>
