<div class="calendar-component-wrapper">
  <div class="proportional-wrapper">
    <div class="outer">
      <div class="inner">
        <div class="calendar">
          {{#each weeksData as |wd wIndex|}}
            {{#p-calendar/week startingDate=wd.startingDate showsByDay=wd.showsByDay backPadding=wd.backPadding as |days|}}
              <ul class="week">

                {{#if (and (gt wd.frontPadding 0) (eq wIndex 0))}}
                  <li class="day padding" colspan="{{wd.frontPadding}}">
                    <div class="calendar-filters">
                      {{#each longTitles as |title index|}}
                        <div class="filter selected show-{{add index 1}}">
                          {{title}}
                        </div>
                      {{/each}}
                    </div>
                  </li>
                {{/if}}

                {{#each days as |day|}}
                  {{p-calendar/day mDay=day.mDay monthName=day.monthName shows=day.shows dayNameFull=day.dayNameFull isEditing=isEditing tagName="li"}}
                {{/each}}
              
              </ul><!-- week -->
            {{/p-calendar/week}}
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</div><!-- end calendar component wrapper -->