=drop-shadow($color)
  text-shadow: 1px 1px 0px $color, 1px 2px 0px $color

$green: rgb(0,110,43)
$blue: rgb(28,117,188)
$red: rgb(198,41,46)
$pink: rgb(243,136,167)
$purple: rgb(146,39,143)
$yellow: rgb(254,189,64)
$brown: #56402c

$blue-shadow: darken($blue, 20)
$purple-shadow: darken($purple, 20)
$red-shadow: darken($red, 20)
$yellow-shadow: darken($yellow, 35)
$green-shadow: darken($green, 10)

$show-1-color: $blue
$show-2-color: $purple
$show-3-color: $red
$show-4-color: $yellow
$show-5-color: $green

$show-1-color-drop-shadow: $blue-shadow
$show-2-color-drop-shadow: $purple-shadow
$show-3-color-drop-shadow: $red-shadow
$show-4-color-drop-shadow: $yellow-shadow
$show-5-color-drop-shadow: $green-shadow

$proxima: "Proxima Nova", sans-serif
$azo: "Azo Sans Uber", sans

$calendar-day-date-color: black
$dark-day-bg: rgba(0,0,0,0.4)
$cal-bg-color: #0087aa
$cal-border-color: black

$cal-border-width: 2px
$cal-base-font-size: 1.5rem // 24px
$cal-vert-button-pad: 0.584rem // 9.35px

$alt-bg-color: #d1dcc4

$filter-margins: 2px
$doc-width: 89rem // 1424px // 2136px becomes the height

$paperWidth: 8
$paperHeight: 12
$ratio: 100% * $paperHeight / $paperWidth

html
  margin: 0
  padding: 0
  font-size: $base-font-size

body
  background-color: #ccc
  font-family: $proxima
  font-size: $cal-base-font-size
  margin: 0
  padding: 0

.calendar-filters
  .filter
    +clearfix
    background-color: $alt-bg-color
    margin: $filter-margins
    border: 1px solid $alt-bg-color
    color: darken($alt-bg-color, 20)
    float: left
    font-family: $proxima
    font-size: $cal-base-font-size * 1.78
    padding: ($cal-base-font-size * 0.2) ($cal-base-font-size * 0.52) 2px
    line-height: $cal-base-font-size * 2

    &.selected
      color: white

    &.show-1
      border-color: lighten($show-1-color, 20)
      +drop-shadow($show-1-color-drop-shadow)
    &.show-2
      border-color: lighten($show-2-color, 20)
      +drop-shadow($show-2-color-drop-shadow)
    &.show-3
      border-color: lighten($show-3-color, 20)
      +drop-shadow($show-3-color-drop-shadow)
    &.show-4
      border-color: lighten($show-4-color, 20)
      +drop-shadow($show-4-color-drop-shadow)
    &.show-5
      border-color: lighten($show-5-color, 20)
      +drop-shadow($show-5-color-drop-shadow)

    &.show-1.selected
      background-color: $show-1-color
    &.show-2.selected
      background-color: $show-2-color
    &.show-3.selected
      background-color: $show-3-color
    &.show-4.selected
      background-color: $show-4-color
    &.show-5.selected
      background-color: $show-5-color

.proportional-wrapper
  width: 100%

  .outer
    width: 100%
    padding-top: $ratio
    position: relative
    overflow: visible

  .inner
    background: $cal-bg-color
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0

.calendar
  font-family: proxima-nova
  padding: 1em

.month
  width: 100%
  border-collapse: collapse
  background-color: $cal-bg-color
  border: $cal-border-width solid $cal-bg-color

.week:first-child .day:first-child
  padding: 0
  padding-bottom: $filter-margins

.day:nth-child(2)
  width: 8%

.day
  width: 14%
  padding: 0.75%
  border: 1px solid $cal-border-color
  background: white
  min-height: 14%
  // position: relative
  vertical-align: top

  +breakpoint($cal-large)
    border-width: $cal-border-width

  .month-name
    display: none

  &.day-1
    .month-holder
      position: relative
    .month-name
      color: $calendar-day-date-color
      font-family: $azo
      display: block
      position: absolute
      background: transparent
      font-size: $cal-base-font-size * 2.5
      z-index: 2
      transform: rotate(-15deg)

      &.jun
        left: -2em
        top: -0.8em
      &.jul
        top: 1.0em
      &.aug
        top: -0.8em
        left: -0.55em

.day-name
  display: none

.day.dark
  background: $dark-day-bg

  .mday, .day-name
    color: white

.day.padding
  background: transparent
  border: none

.week:nth-child(2)
  .day .day-name
    display: inline
    font-family: "Proxima Nova Extra Condensed"
    color: $calendar-day-date-color
  .day.dark .day-name
    color: white

.day-identifiers
  font-size: $cal-base-font-size * 1.3
  display: flex
  justify-content: flex-end
  align-items: baseline
  > *
    flex-grow: 1


.mday
  font-family: proxima-nova-condensed
  font-weight: 300
  color: $calendar-day-date-color
  +breakpoint($cal-medium)
    text-align: right
    margin-bottom: 6px
    line-height: $cal-base-font-size

.showing
  background-color: grey
  color: white
  +drop-shadow(black) // default (for Bald Mountain Rounders)
  padding: $cal-vert-button-pad 2px
  margin-bottom: 0
  text-align: center
  line-height: $cal-base-font-size
  font-size: $cal-base-font-size * 1.2
  font-weight: 300

  &.show-1
    background-color: $show-1-color
    +drop-shadow($show-1-color-drop-shadow)
  &.show-2
    background-color: $show-2-color
    +drop-shadow($show-2-color-drop-shadow)
  &.show-3
    background-color: $show-3-color
    +drop-shadow($show-3-color-drop-shadow)
  &.show-4
    background-color: $show-4-color
    +drop-shadow($show-4-color-drop-shadow)
  &.show-5
    background-color: $show-5-color
    +drop-shadow($show-5-color-drop-shadow)

.day-content.show-count-1,
.day-content.show-count-2
  .showing
    padding: (($cal-vert-button-pad * 2 + ($cal-base-font-size)) / 2 * 3 / 2 - $cal-base-font-size / 2) 2px

.day-content.show-count-1
  .spacer
    display: block
    height: (($cal-vert-button-pad * 2 + $cal-base-font-size) * 1.5 )

.week
  &:nth-child(1)
    .spacer
      height: 0
  &:nth-child(2),
  &:nth-child(3),
  &:nth-child(4),
  &:nth-child(5)
    .spacer
      height: 26px
