@import "variables";
@import "mixins";
@import "calendar";

form {
  font-size: 1rem;
  max-width: 600px;
  margin: auto;

  p {
    margin: 20px auto;
  }

  textarea, input {
    vertical-align: text-top;
    font-size: 0.85rem;
  }

  label {
    opacity: 0.5;
    display: inline-block;
    margin-top: 20px;
    font-size: 1.2em;
  }

  .field {
    display: flex;
    > *:nth-child(2) {
      flex-grow: 1;
      margin-left: 10px;
    }
  }
}

.containers-wrapper.is-editing {
  display: flex;
  > * {
    flex-basis: 50%;
    flex-grow: 0;
    flex-shrink: 0;
  }
}

@media (max-width: 1030px) {
  .containers-wrapper.is-editing {
    flex-wrap: wrap;
    > * {
      flex-basis: 100%;

      &:first-child {
        order: 2;
      }
    }
  }
}
