<td class="day day-1" valign="top">
  <div class="day-identifiers">
    <span class="day-name">
      <span class="full">Friday</span>
    </span>
    <div class="month-holder">
      <span class="month-name june">June</span>
    </div>
    <span class="mday">1</span>
  </div>
  <div class="day-content show-count-1">
    <div class="spacer">
    </div>
    <div class="showing evening show-1">
      <span class="show-title">Mermaid</span>
      <span class="show-time">8p</span>
    </div><!-- showing -->
  </div><!--day_content-->
</td>
