{{keyboard-press key="Escape" onDown=(toggle-action 'editing' this)}}

{{#if editing}}
  {{edit-form titles=titles readableDates=readableDates actns=(hash
    changeLongTitle=(action 'changeLongTitle')
    changeShortTitle=(action 'changeShortTitle')
    changeReadableDates=(action 'changeReadableDates')
    shiftDays=(action 'shiftDays')
  )}}
{{/if}}

<div class="cal-component-wrapper {{if editing 'is-editing'}}">
  {{p-calendar weeksData=weeksData longTitles=titles.long isEditing=editing}}
</div>
