{{keyboard-press key="Escape" onDown=(toggle-action 'editing' this)}}

<div class="containers-wrapper {{if editing 'is-editing'}}">
  <div class="cal-component-wrapper">
    {{#maybe-squish squish=editing}}
      {{p-calendar weeksData=weeksData longTitles=titles.long isEditing=editing}}
    {{/maybe-squish}}
  </div>

  {{#if editing}}
    <div class="form-component-wrapper">
        {{edit-form titles=titles readableDates=readableDates actns=(hash
          changeLongTitle=(action 'changeLongTitle')
          changeShortTitle=(action 'changeShortTitle')
          changeReadableDates=(action 'changeReadableDates')
          shiftDays=(action 'shiftDays')
        )}}
    </div>
  {{/if}}
</div>
